.cart-div, .cart-info,.cart-info div, .cart-info span, .cart-total, .toggle-cart, .shop-more-warning, .toggle-cart, .cart-title, .cart-info, .cart-input-div, .total-div, .cart-input-div label, .cart-input-div input, .cart-button, .cart-div-closed {
    background: none;
}

.cart-div-closed {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.cart-div-open {
    width: 75%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    box-shadow: 5px 5px 10px white;
    margin-right: 15px;
    margin-top: 10px;
    border: 3px white solid;
    border-radius: 25px
}

.cart-image {
    height: 30px;
    width: 30px;
    margin: 10px;
}

.toggle-cart {
    font-family: 'Dokdo', cursive;
    font-size: 40px;
}

.cart-title {
    font-family: 'Dokdo', cursive;
    font-size: 60px;
}

.shop-more-warning {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

.cart-info {
    font-family: 'Gloria Hallelujah', cursive;
    padding: 10px;
}

.cart-info input {
    background: white;
    color: black;
    margin: 5px;
}

.cart-input-div {
    display: flex;
    flex-direction: column;
}

.total-div {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cart-button {
    background: radial-gradient(#dee1e4, #aaa9ad) ;
    color: #000C66;
    font-family: 'Gloria Hallelujah', cursive;
}

.cart-button:hover {
    background: #FFBF00;
    color: white;
}

.deliv-date, .order-owner {
    font-family: 'Gloria Hallelujah', cursive;
}

@media only screen and (min-width: 500px) {
    .cart-image {
        height: 50px;
        width: 50px;
    }
}
