.header-title, .header-logo, .header-logo img, .locale, .phone-number, .locale address, .header-border, .header-image {
    background: none;
}

.header-image {
    width: 360px;
    height: 223px;
    margin-bottom: -5px;
}

.header-border {
    width: 100%;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}

.header-logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
} 

.locale {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-logo img {
    width: 220px;
    height: 30px;
}

.phone-number, address {
    margin: 10px 0px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 10px;
    color: var(--primary);
    width: 30%;
}

.phone-number:hover, .address-link:hover {
    background: var(--hover);
    border-radius: 10px;
    padding: 5px;
}

@media only screen and (min-width: 500px) {
    .header-image {
        width: 100%;
    }
    .header-logo img {
        width: 330px;
        height: 40px;
    }

    .phone-number, address {
        font-size: 15px;
    }
}

@media only screen and (min-width: 700px) {
    .phone-number, address {
        font-size: 20px;
    }
}

@media only screen and (min-width: 900px) {
    .header-image {
        width: 90%;
        height: 300px;
    }
}

@media only screen and (min-width: 900px) {
    .header-image {
        width: 90%;
        height: 500px;
    }
}
