.account-form, .account-link-div, .account-form div, .account-label-password, .account-label, .account-label-email {
    background: none;
}

.account-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    margin: auto;
}

.account-link-div {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    font-size: 20px;
}

.account-link {
    text-align: center;
}

.account-label, .account-label-email, .account-label-password {
    font-family: 'Gloria Hallelujah', arial;
    font-size: 25px;
    color: var(--primary);
}

.account-form-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.account-input {
   width: 560px;
   font-size: 25px;
}

.account-submit {
    margin-top: 15px;
    font-size: 30px;
    padding: 10px;
}

.button-div-account {
    display: flex;
    justify-content: right;
}

@media only screen and (max-width: 800px) {
    .account-form {
        width: 500px;
    }
    .account-input {
        width: 325px;
        font-size: 22px;
    }
    .account-label, .account-label-email, .account-label-password {
        font-size: 22px;
    }
}

@media only screen and (max-width: 500px) {
    .account-form {
        width: 300px;
    }
    .account-input {
        width: 150px;
        font-size: 18px;
        height: 30px;
    }
    .account-label, .account-label-email, .account-label-password {
        font-size: 18px;
    }
    .account-submit {
        font-size: 20px;
        padding: 5px;
    }
}