.admin-orders, .order-search-div, .search-bar-div, .checkbox-div, .option-div, .option-div label {
  background: none;
}

.order-search-div {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.order-search-input {
  margin-right: 20px;
  width: 60%;
}

.search-bar-div {
  width: 100%;
  margin-bottom: 10px;
}

.checkbox-div {
  border: var(--primary) 2px solid;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  font-family: 'Gloria Hallelujah', arial;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
}

.cat-button {
  width: 75%;
}

.admin-orders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
