.admin-orders, .admin-title, .button-div, .status-div, .all-orders {
    background: none;
}

.admin-orders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button-div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.button-div a {
  font-size: 25px;
  padding: 5px;
}

.all-orders {
    font-family: 'Dokdo', arial;
    font-size: 50px;
    margin-left: 50px;
    text-align: center;
}