.update-form, .update-form-div, .update-form, .update-label-email, .update-label, .update-input, .update-form-div div, .update-button-div, .orders, .order-history-title, .order-history-div, .order-date, .order-details, .order-details ul, .order-details li, .order-button-div, .order-history-email {
    background: none;
}

.update-label, .update-label-email {
    font-family: 'Gloria Hallelujah', arial;
    font-size: 25px;
    color: var(--primary);
}

.update-label {
    margin-right: 20px;
}

.update-label-email {
margin-right: 90px;
}

.update-form-div {
    display: flex;
    flex-direction: column;
}

.update-input {
    background: var(--primary);
    color: black;
    font-family: 'Gloria Hallelujah', arial;
    font-size: 15px;
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
}

.update-button-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.update-form-div div {
    display: flex;
    justify-content: center;
}

.order-history-title {
    width: 100%;
}

.order-history-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: var(--primary) solid 3px;
    padding: 5px;
    width: 300px;
    margin: 10px;
    color: var(--primary);
}

.order-date {
    font-family: 'Dokdo', arial;
    font-size: 40px;
    text-align: center;
}

.order-details {
    font-family: 'Gloria Hallelujah', arial;
    font-size: 20px;
}

.orders {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.order-button-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 25px;
    width: 100%;
}

.order-button-div a {
    padding: 5px;
    font-size: 30px;
  }
  

  .order-history-email {
    width: 100%;
    text-align: center;
    font-family: 'Dokdo', arial;
    font-size: 30px;
    margin-top: -50px;
    color: var(--primary);
  }

  @media only screen and (min-width: 900px) {
    .order-history-email {
        font-size: 60px;
    }
  }