.login-form, .login-form div, .login-label, .login-label-email, .login-input {
    background: none;
}


.signup-link-div {
    background: none;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    font-size: 20px;
}

.login-label, .login-label-email {
    font-family: 'Gloria Hallelujah', arial;
    font-size: 25px;
    color: var(--primary);
}

.login-label {
    margin-right: 20px;
}

.login-label-email {
margin-right: 60px;
}

.login-form div {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.login-input {
    background: var(--primary);
    color: black;
    font-family: 'Gloria Hallelujah', arial;
    font-size: 15px;
    width: 50%;
    border-radius: 20px;
}