/* Removing Universal Styling */

.search-div, .search-button, .card-div, .ui-card-div, .card, .beer-name, .beer-details, .beer-details p, .beer-placeholder, .beer-name h2, .content, .slushy-products, .beer-img {
    background: none;
}


/* product and searchbar styling */

.search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-words {
    width: 70%;
    margin: 0px 25px;
}

.search-div button {
    width: 150px;
    height: 50px;
}

.card-div {
    margin-top: 20px;
}

.card {
    margin-bottom: 30px;
    width: 150px;
    height: 375px;
    text-align: center;
    border: solid var(--primary) 5px;
    background: var(--secondary);
    border-radius: 20px;
}

.ui-card-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.beer-name h2 {
    font-family: 'Dokdo', arial;
    color: var(--primary);
    font-size: 20px;
}

.beer-details {
    font-family: 'Gloria Hallelujah', arial;
    font-size: 15px;
    color: var(--primary);
}

.beer-details p {
    margin-bottom: -20px;
}

.beer-placeholder {
    width: 25%;
    margin-top: 10px;
}

.beer-img {
    margin-top: 10px;
    height: 100px;
    width: 50%;
    margin-bottom: -20px;
}

.card button {
    margin-top: 40px;
}

@media only screen and (min-width: 500px) {
    .search-div {
        width: 95%; 
    }
    .search-words {
        font-size: 20px;
    }
    .beer-name h2 {
        font-size: 25px;
    }
    .beer-details p {
        font-size: 20px;
    }
    .card {
        height: 525px;
        width: 250px;
    }
    .beer-placeholder {
        height: 200px;
    }
    .beer-img {
        height: 175px;
    }
}

@media only screen and (min-width: 900px) {
    .search-words {
        font-size: 30px;
    }
}