.menu-container, .first a, .prev a, .link-font-color, .tab-content, .menu-info, .ut-menu, .inner-container, .header-bg-color, .menu-header, .row-location-info, .section-name, .section-items-container, .menu-title, .date-time, .date-time span, .date-time time, .item-title-color, .tab-anchor, .ut-more, .pagination, .next, .next a, .last, .last a, .page, .page a, .pagination-container, .pagination-container b, .no-price p strong {
    background: none;
}

iframe {
    margin: auto;
    display: block;
}