.signup-form, .signup-form div, .signup-label, .signup-input, .signup-label-email, .signup-label-password {
    background: none;
}

.login-link-div {
    margin-top: 50px;
    background: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.signup-label, .signup-label-email, .signup-label-password {
    font-family: 'Gloria Hallelujah', arial;
    font-size: 25px;
    color: var(--primary);
}

.signup-label {
    margin-right: 20px;
}

.signup-label-email {
margin-right: 90px;
}

.signup-label-password {
    margin-right: 50px;
}

.signup-form div {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.signup-input {
    background: var(--primary);
    color: black;
    font-family: 'Gloria Hallelujah', arial;
    font-size: 15px;
    width: 50%;
    border-radius: 20px;
}

.signup-form {
    margin-bottom: 50px;
}